@media screen and (min-width: 768px) {
  h2 {
    font-size: 16px;
    font-family: "Noto Sans", "Noto Sans JP", sans-serif;
    color: #333;
  }
  h3 {
    font-size: 18px;
    font-family: "Noto Sans", "Noto Sans JP", sans-serif;
    color: #333;
  }
  a {
    font-size: 14px;
    font-family: "Noto Sans", "Noto Sans JP", sans-serif;
    color: #333;
  }
  p {
    font-size: 14px;
    font-family: "Noto Sans", "Noto Sans JP", sans-serif;
    color: #333;
  }
  /* readmore */
  div.readmore {
    width: 100%;
    text-align: center;
  }
  div.readmore a {
    position: relative;
  }
  div.readmore a::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333;
  }
  header {
    width: 100%;
  }
  header div.head-logo-area {
    padding: 20px;
  }
  header div.head-menu-area {
    height: 40px;
    background-color: #333333;
  }
  header div.head-menu-area ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }
  header div.head-menu-area ul li a {
    display: block;
    color: #fff;
    font-size: 0.875rem;
    padding: 10px 60px 10px 0px;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }
  main section.top-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0 0;
  }
  main section.top-content article {
    max-width: 32%;
    height: auto;
  }
  main section.top-content article img {
    display: block;
    width: 100%;
    max-height: 210px;
  }
  main section.top-content article h2 {
    margin: 20px 0;
  }
  main section.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
  }
  main section.main-content article {
    padding: 80px 0 0 0;
  }
  main section.main-content article h2 {
    width: 100%;
    font-size: 1.5em;
    margin: 10px 0 15px 0;
  }
  main section.main-content article ul {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }
  main section.main-content article ul li {
    margin-right: 20px;
  }
  main section.main-content article img {
    display: block;
    width: 100%;
    height: auto;
  }
  main section.main-content article p {
    padding: 10px 40px 30px 40px;
  }
  main section.side-content {
    width: 32%;
    padding: 20px;
  }
  main section.side-content div.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px 0 0 0;
  }
  main section.side-content div.profile img {
    display: block;
    width: 135px;
    height: 135px;
  }
  main section.side-content div.profile h2 {
    width: 100%;
    text-align: center;
    margin: 40px 0;
  }
  main section.side-content div.profile p {
    padding: 0 5px;
  }
  main section.side-content div {
    width: 100%;
  }
  main section.side-content div h2 {
    width: 100%;
    text-align: center;
    margin: 40px 0;
  }
  main section.side-content div article a {
    display: block;
    width: 100%;
  }
  main section.side-content div article a img {
    display: block;
    width: 100%;
    height: auto;
  }
  main section.side-content div article a p {
    width: 100%;
    margin: 10px 0 35px;
  }
  main section.side-content div ul li a {
    display: block;
    border-top: solid 1px #777;
    text-align: left;
    padding: 20px;
  }
  main section.side-content div ul li:last-of-type {
    border-bottom: solid 1px #777;
  }
  footer {
    width: 100%;
    background-color: #f7f7f7;
  }
  footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0 50px;
    margin: 0 auto;
  }
  footer .footer-content div.about {
    width: 30%;
    height: auto;
  }
  footer .footer-content div.about h3 {
    padding: 0 0 20px 0;
  }
  footer .footer-content div.about p {
    padding: 20px 0;
  }
  footer .footer-content div.about ul {
    display: block;
  }
  footer .footer-content div.menu {
    width: 30%;
  }
  footer .footer-content div.menu h3 {
    padding: 0 0 35px 0;
  }
  footer .footer-content div.menu ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
    border-top: solid 1px;
    text-align: left;
    padding: 0 20px;
  }
  footer .footer-content div.Twitter {
    width: 30%;
  }
  footer .footer-content div.Twitter h3 {
    padding: 0 0 35px 0;
  }
  footer p.copy {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */